<% provide(:food, 'New ingredient') %>
<h1>New Ingredient</h1>
<%= form_for(@user_ingredient) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  	<%= f.label :food %>
    <%= f.string :food, class: 'form-control' %>
  
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
