<div class="list-group">
  <div class="col-md-16">
  <h3>Recipes </h3>
    <ol class="recipes">
        <% @recipes.each do |r| %>
        <a href=<%= r[:recipe][:link]%> class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= r[:recipe][:title]%></h5>
        </a>
            <span class="badge badge-primary badge-pill">(<%= r[:percentage] %>% match!)</span>
          </div>
          <p class="mb-1">You have: <% r[:ingredients].each do |i| %>
            <% if i == r[:ingredients].last && r[:ingredients].length > 1 %>
              and <%= i %>
            <% elsif r[:ingredients].length == 1 %>
              <%= i %>
            <% else %>
              <%= i %>,
            <% end %>
          <% end %>
          </small>
        <% end %>
      </ol>
    </div>
    <p>Scraped from <a href="https://www.hellofresh.com/recipes/quick-meals-collection">HelloFresh</a></p>
</div>
