
<h1>New Ingredient</h1>


<%= form_with scope: :ingredient, url: ingredients_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>